{% extends 'base.html' %}

{% block tittle %}
Об авторе
{% endblock %}

{% block content %}
<main>
    <div class="container py-5">
        <h1>Автор учебного проекта - Аникин Георгий https://github.com/ubilby</h1>

        <article>
            <p>
              Тут я размещу информацию о себе, используя свои умения верстать.
              Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
            </p>
        </article>
    </div>
</main>
{% endblock %}
